{% extends 'main.html' %}
{% block title %}{{ block.super }} | Register{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

    <div class="border p-4 mb-5">
        <legend class="border-bottom pb-1 mb-3">Register</legend>
        <form method="POST">
            <p id="username_error"></p>
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-secondary mt-4" type="submit" value="Register">
        </form>
        <div class="border-top mt-4 pt-2">
            <small>If you are a user .. please <a href="{% url 'login'%}">Log In</a></small>
        </div>
    </div>
{% endblock content %}
